@{
    ViewBag.Title = "Psd Proof";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<div id="PsdProofSection" class="col-md-12" style="background-color: white; float: left;">  
<iframe src="@ViewBag.Paramatter" style="width:99%; min-height:740px"></iframe>
    </div>
