@{
    ViewBag.Title = "_DesignerTopMenu";
}

<div id="cssmenu" class="nav-container" style="margin-top:-77px;"> 
          <ul>
              <li ><a href='/'><span>@Html.ActionLink("Projects", "Index", "Project")</span></a></li>
           
             <li><a href='services.html'><span>@Html.ActionLink("Reports", "Reports", "Project")</span></a></li>
               <li><a href='services.html'><span>@Html.ActionLink("All Open Job", "PickNewJob", "Project")</span></a></li>
               <li><a href='services.html'><span>@Html.ActionLink("Resource", "Resource", "Project")</span></a></li>
             
           </ul>
          </div>
