@{
    ViewBag.Title = "_ContentWriterTopMenu";
}

<div id="cssmenu" class="nav-container" style="margin-top:-77px;"> 
          <ul>
              <li ><a href='/'><span>@Html.ActionLink("Projects", "Index", "Order")</span></a></li>
           
             <li><a href='services.html'><span>@Html.ActionLink("Reports", "Reports", "Order")</span></a></li>
             
           </ul>
          </div>


