@model pEasyPrint.Models.LocalPasswordModel
@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p class="message-success">@ViewBag.StatusMessage</p>



@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
